<footer>
  <p>Project for the course <a href="http://thinknetica.com/" target="_blank">thinknetica</a></p>
  <p>Desingn: creation and solution of tests</p>
  <p>Author: Sild S</p>
  <p> GitHub: <%= github_link('drmcastles', 'TestGuru') %></p>
  <p> <%= current_year %></p>
</footer>
